<h3>Telefonos Registrados</h3>



<table class="table">
    <thead>
        <tr>
            <th>
                Phone Number
            </th>
      
            <th>
                Fecha de Adquisicion
            </th>
   
            <th>
                Marca
            </th>
      
            <th>
                Modelo
            </th>
        
            <th>
                N Serie
            </th>
       
            <th>
                Costo
            </th>
     
            <th>
                Estado
            </th>
     
            <th>
                Responsable
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(SmartPhoneModel i in SmartPhones)
        {
            <tr>
                <td>
                    @i.PhoneNumber
                </td>
                <td>
                    @i.AdquisitionDate.ToLongDateString()
                </td>
                <td>
                    @i.Brand.Name
                </td>
                <td>
                    @i.PhoneModel
                </td>
                <td>
                    @i.PhoneSerial
                </td>
                <td>
                    @i.Cost
                </td>
                @if (i.isActive)
                {
                    <td>
                        Telefono Activo
                    </td>
                }
                else
                {
                    <td>
                        Inactivo
                    </td>
                }
                <td>
                    <a href="#" class="btn btn-outline-success">Asignacion</a>
                </td>
                <td>
                    <a href="/smartphone/edit/@i.SmartPhoneModelId" class="btn btn-outline-success">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>







@code {
    [Parameter]
    public List<SmartPhoneModel> SmartPhones { get; set; }

    
 
}
