


<table class="table">
    <tbody>
        <tr>
            <th>
                Marca
            </th>
            <td>
                @peripheral.Brand.Name
            </td>
        </tr>
        <tr>
            <th>
                @nameof(peripheral.Name)
            </th>
            <td>
                @peripheral.Name
            </td>
        </tr>
                <tr>
            <th>
                Tipo
            </th>
            <td>
                @peripheral.Type
            </td>
        </tr>
                <tr>
            <th>
                Número de Serie
            </th>
            <td>
                @peripheral.SerialNumber
            </td>
        </tr>
                <tr>
            <th>
                Modelo
            </th>
            <td>
                @peripheral.Model
            </td>
        </tr>
                <tr>
            <th>
                Fecha Adquisición
            </th>
            <td>
                @peripheral.AdquisitionDate.ToLongDateString()
            </td>
        </tr>
        <tr>
            <th>
                Costo
            </th>
            <td>
                @peripheral.Cost
            </td>
        </tr>
        <tr>
            <th>
                Empleado
            </th>
            @if (peripheral.Employee != null)
            {
                <td>
                    @peripheral.Employee.Name @peripheral.Employee.LastName
                </td>
            }
            else
            {
                <td>
                    Sin Asignar
                </td>
            }
        </tr>
    </tbody>
</table>


@code {
    [Parameter]
    public PeripheralModel peripheral { get; set; }
}
