@inject IControllerServices<ComputerModel> _ComputerService;
@inject IControllerServices<Brand> _BrandService;




<div class="border m-2 p-3 rounded rounded-1 shadow">
    <EditForm Model="ObjComputer">
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                Numero de Serie
            </label>
            <InputText @bind-Value="ObjComputer.SerialNumber" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.ModelName)
            </label>
            <InputText @bind-Value="ObjComputer.ModelName" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.AdquisitionDate)
            </label>
            <InputText @bind-Value="ObjComputer.AdquisitionDate" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.Cost)
            </label>
            <InputText @bind-Value="ObjComputer.Cost" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.HaveSSD)
            </label>
            <InputCheckbox @bind-Value="ObjComputer.HaveSSD" class=" w-50"></InputCheckbox>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.SizeDisk)
            </label>
            <InputNumber @bind-Value="ObjComputer.SizeDisk" class="form-control form-control-sm w-75"></InputNumber>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.SizeRAM)
            </label>
            <InputNumber @bind-Value="ObjComputer.SizeRAM" class="form-control form-control-sm w-75"></InputNumber>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.RAMType)
            </label>
            <InputText @bind-Value="ObjComputer.RAMType" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.Description)
            </label>
            <InputTextArea @bind-Value="ObjComputer.Description" class="form-control form-control-sm w-75"></InputTextArea>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.KeyboardLayout)
            </label>
            <InputText @bind-Value="ObjComputer.KeyboardLayout" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.HasNumericKeyboard)
            </label>
            <InputCheckbox @bind-Value="ObjComputer.HasNumericKeyboard" class=" w-50"></InputCheckbox>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.IsActive)
            </label>
            <InputCheckbox @bind-Value="ObjComputer.IsActive" class=" w-50"></InputCheckbox>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>
                @nameof(ObjComputer.BrandId)
            </label>
            <InputSelect @bind-Value="ObjComputer.BrandId" class=" w-50">
                @foreach (Brand item in Brands)
                {
                    <option value="@item.BrandId"> @item.Name </option>
                }
            </InputSelect>
        </div>

    </EditForm>
    <button @onclick="Save">
        Agrgar
    </button>
</div>

@code {
    [Parameter]
    public EventCallback OnComputerAdded { get; set; }

    ComputerModel ObjComputer = new();
    List<Brand> Brands = new();

    protected override async Task OnInitializedAsync()
    {
        Brands = _BrandService.GetAll();
        base.OnInitializedAsync();

    }

    private async Task Save()
    {
        try
        {
            ObjComputer.BrandId = 1;
            _ComputerService.Add(ObjComputer);

            // Dispara el evento para indicar que se agregó una nueva computadora
            await OnComputerAdded.InvokeAsync();
            ObjComputer = new();
        }
        catch (Exception e)
        {
            
            throw e;
        }
        

    }
}
