


<div class="p-2 my-3 shadow rounded rounded-1 border border-1">
    <table class="table table-hover table-sm">
        <tr class="">
            <th>
                Identificador
            </th>
            <td>
                @ComputerModel.ComputerModelID
            </td>
        </tr>
        <tr>
            <th>
                Marca
            </th>
            <td>
                @ComputerModel.Brand.Name
            </td>
        </tr>
        <tr>
            <th>
                Número de Serie
            </th>
            <td>
                @ComputerModel.SerialNumber
            </td>
        </tr>
        <tr>
            <th>
                Modelo
            </th>
            <td>
                @ComputerModel.ModelName
            </td>
        </tr>
        <tr>
            <th>
                Fecha Adquisición
            </th>
            <td>
                @ComputerModel.AdquisitionDate.ToLongDateString()
            </td>
        </tr>
        <tr>
            <th>
                Costo
            </th>
            <td>
                $ @ComputerModel.Cost
            </td>
        </tr>
        <tr>
            <th>
                Tipo Disco
            </th>
            @if (ComputerModel.HaveSSD)
            {
                <td>
                    SSD
                </td>
            }
            else
            {
                <td>
                    HDD
                </td>
            }
        </tr>
        <tr>
            <th>
                Tamaño Disco
            </th>
            <td>
                @ComputerModel.SizeDisk GB
            </td>
        </tr>
        <tr>
            <th>
                Tipo RAM
            </th>
            <td>
                @ComputerModel.RAMType
            </td>
        </tr>
        <tr>
            <th>
                Tamaño RAM
            </th>
            <td>
                @ComputerModel.SizeRAM GB
            </td>
        </tr>
        <tr>
            <th>
                Procesador
            </th>
            <td>
                @ComputerModel.Processor
            </td>
        </tr>
        <tr>
            <th>
                Teclado Numérico
            </th>
            @if (ComputerModel.HasNumericKeyboard)
            {
                <td>
                    Tiene Teclado Numérico
                </td>
            }
            else
            {
                <td>
                    No Tiene teclado Numérico
                </td>
            }
        </tr>
        <tr>
            <th>
                Empleado
            </th>
            @if (ComputerModel.Employee != null)
            {
                <td>
                    @ComputerModel.Employee.Name @ComputerModel.Employee.LastName
                </td>
            }
            else
            {
                <td class="text-info">
                    Sin Asignar
                </td>
            }
        </tr>
    </table>
</div>



@code {
    [Parameter]
    public ComputerModel ComputerModel { get; set; }
}
