<h3>Empleados Registrados</h3>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Employee item in Employees)
        {
            @if (item.Fired)
            {
                <tr class="text-danger">
                    <td>
                        @item.EmployeeId
                    </td>
                    <td>
                        @item.Name @item.LastName @item.SecondLastName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        <a href="/employee/edit/@item.EmployeeId" class="btn btn-outline-info">Editar</a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="">
                    <td>
                        @item.EmployeeId
                    </td>
                    <td>
                        @item.Name @item.LastName @item.SecondLastName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        <a href="/employee/edit/@item.EmployeeId" class="btn btn-outline-info">Editar</a>
                    </td>
                </tr>
            }
            
        }
    </tbody>
    </table>


@code {
    [Parameter]
public List<Employee> Employees { get; set; }

}
