


<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Registro
            </th>
            <th>
                Numero Telefonico
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Serie
            </th>
            <th>
                Encargado
            </th>
            <th colspan="2">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @if (phone_Number_User_Models != null)
        {
            foreach (var item in phone_Number_User_Models)
            {
                if (item.IsActive)
                {
                    <tr>
                        <td>
                            @item.CreationDate.ToShortDateString()
                        </td>
                        <td>
                            @item.PhoneNumber.Number
                        </td>
                        <td>
                            @item.PhoneNumberModel.Brand.Name
                        </td>
                        <td>
                            @item.PhoneNumberModel.PhoneModel
                        </td>
                        <td>
                            @item.PhoneNumberModel.PhoneSerial
                        </td>
                        <td>
                            @item.Employee.Name @item.Employee.LastName
                        </td>
                        <td>
                            <button  class="btn btn-outline-info">
                                Descargar Entregable
                            </button>
                        </td>
                        <td>
                            <a href="/phone-number-user/@item.Id" class="btn btn-outline-danger">
                                Eliminar Asignacion
                            </a>
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>








@code {
    [Parameter]
    public List<Phone_Number_User_Model> phone_Number_User_Models { get; set; }
}
