@using Microsoft.AspNetCore.Http;
@using PdfSharp.Drawing;
@using PdfSharp.Drawing.Layout;
@using PdfSharp.Pdf;
@using PdfSharp.Quality;
@inject PDFService pdfService
@inject IJSRuntime JS
@inject IHttpContextAccessor httpContextAccessor


<div class="shadow p-2 rounded">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha Registro
                </th>
                <th>
                    Numero Telefonico
                </th>
                <th>
                    Operador
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Modelo
                </th>
                <th>
                    Serie
                </th>
                <th>
                    Encargado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @if (phone_Number_User_Models != null)
            {
                foreach (var item in phone_Number_User_Models)
                {
                    if (item.IsActive)
                    {
                        <tr>
                            <td>
                                @item.CreationDate.ToShortDateString()
                            </td>
                            <td>
                                @item.PhoneNumber.Operator
                            </td>
                            <td>
                                @item.PhoneNumber.Number
                            </td>
                            <td>
                                @item.PhoneNumber.Type
                            </td>
                            <td>
                                @item.PhoneNumberModel.Brand.Name
                            </td>
                            <td>
                                @item.PhoneNumberModel.PhoneModel
                            </td>
                            <td>
                                @item.PhoneNumberModel.PhoneSerial
                            </td>
                            <td>
                                @item.Employee.Name @item.Employee.LastName
                            </td>
                            
                            <button @onclick="()=>DownloadPDF(item)" class="bg-warning border-0 h-100 h-100 rounded rounded-1 p-2 mx-1">
                                <span class="oi oi-document text-white" aria-hidden="true"></span>
                            </button>
                            <AuthorizeView Roles="Administrador">
                                <Authorized>
                                    <a href="/phone-number-user/@item.Id" class="bg-danger h-100 h-100 rounded rounded-1 p-2 mx-1">
                                        <span class="oi oi-delete text-white" aria-hidden="true"></span>
                                    </a>
                                    <a href="/smartphone/@item.SmartPhoneModelId" class="bg-info border-0 h-100 h-100 rounded rounded-1 p-2 mx-1">
                                        <span class="oi oi-data-transfer-upload text-white" aria-hidden="true"></span>
                                    </a>
                                </Authorized>
                                <NotAuthorized>

                                </NotAuthorized>
                            </AuthorizeView>
                            <td>
                            </td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>









@code {
    [Parameter]
    public List<Phone_Number_User_Model> phone_Number_User_Models { get; set; }


    private async Task DownloadPDF(Phone_Number_User_Model e)
    {
        try
        {
            byte[] pdfBytes = await pdfService.GeneratePDFPhone(e);


            // Convertir los bytes del PDF a una cadena base64 para pasarlos a JavaScript
            string pdfBase64 = Convert.ToBase64String(pdfBytes);

            // Invocar una función JavaScript para iniciar la descarga del PDF
            await JS.InvokeVoidAsync("downloadPDF", pdfBase64, $"Entrega Telefono {e.Employee.Name} {e.Employee.LastName} {DateTime.Now.ToShortTimeString()}.pdf");
        }
        catch (Exception ec)
        {
            throw;
        }
    }
}
