


<table class="table">
    <thead>
        <tr>
            <th>
                Numero Telefonico
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Serie
            </th>
            <th>
                Encargado
            </th>
            <th colspan="2">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @if (phone_Number_User_Models != null)
        {
            foreach (var item in phone_Number_User_Models)
            {
                <tr>
                    <td>
                        @item.PhoneNumber.Number
                    </td>
                    <td>
                        @item.PhoneNumberModel.Brand.Name
                    </td>
                    <td>
                        @item.PhoneNumberModel.PhoneModel
                    </td>
                    <td>
                        @item.PhoneNumberModel.PhoneSerial
                    </td>
                    <td>
                        @item.Employee.Name @item.Employee.LastName
                    </td>
                    <td>
                        <a href="#" class="btn btn-outline-info">
                            Editar
                        </a>
                        <a href="#" class="btn btn-outline-danger">
                            Eliminar
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>








@code {
    [Parameter]
    public List<Phone_Number_User_Model> phone_Number_User_Models { get; set; }
}
